@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.login-container{
  background-image: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866');
  background-size: cover;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(227, 227, 227);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-card{
  width: 50%;
  position: relative;
  margin: 5rem 5rem 5rem 5rem;
}

.hero-card h1, .hero-card p{
  word-spacing: 5px;
  letter-spacing: 1px;
  padding: 3rem 1rem;
}

.login-box{
  background-color: #212124;
  width: 25rem;
  height: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 8px 0 0 black;
}

.login-header h1{
  text-align: center;
  color: white;
}

.login-header p{
  text-align: center;
  color: white;
}

.login{
  display: block;
}

.login #username, .login #password{
  background-color: #FFFFFF;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-size: large;
}

.login p{
  padding: 0.5rem 0;
  text-align: center;
  font-size: large;
}

.login:focus{
  outline: none;
}

.form-button{
  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  color: white;
  padding: 0.5rem;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition:all 1s ease;
  transition-delay: 0.2s;
}

button:hover{
  background-position:left bottom;
  color: black;
}

.signup-footer{
  text-align: center;
}

.signup-footer a{
  text-decoration: none;
}

.signup-footer:hover{
  color: white;
  scale: 1.05;
  transition: 0.2s ease-in-out all;
}


@media (max-width <= 768px){

  .container{
    flex-direction: column;
  }

  .hero-card{
    width: 100%;
  }

  /*.login-box{*/
  /*  width: 50%;*/
  /*  height: 70%;*/
  /*}*/
}
